<div class="footer">
    <p>
        <i>
            Crowdfundr Email Alerts are delivered based on the preferences you set for your account.
            Please visit our <a href="https://crowdfunder.landen.co/privacy-policy">Privacy Policy</a> and
            <a href="https://crowdfunder.landen.co/terms-of-service">Terms and Conditions</a> if you have any questions.
            <a href="http://crowdfunder.landen.co/">crowdfunder.landen.co</a> is owned and operated by Bytelion LLC.
            Click here to <a href="https://crowdfunder.landen.co/#/profile">unsubscribe</a> from this email alert
            Unsubscribe by mail: Bytelion LLC Executive Plaza III, Suite LL2, 11350 McCormick Rd, Hunt Valley, MD 21031
        </i>
    </p>
</div>
