<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p>
            Good morning, {{ receiver }}!
            {% if filings is defined and filings|length > 0 %}
                <br><br>
                Check out the latest companies that filed with the SEC as an equity crowdfunding venture. Here are the companies that filed on {{ date }}:
                <br><br>
                {% for filing in filings %}
                    <p><b>Issuer: </b><a href="{{ filing['issuer_website']|format_url }}">{{ filing['name_of_issuer'] }}</a> |
                        <a href="{{ filing['link'] }}">Source</a></p>

                    <p><b>Jurisdiction:</b> {{ filing['jurisdiction_organization']|get_state_name }}</p>
                    <p><b>Target Offering Amount:</b> {{ filing['offering_amount']|format_currency }}</p>
                    <p><b>Number of Securities:</b> {{ filing['no_of_security_offered']|format_number }}</p>
                    <p><b>Issuing Price:</b> {{ filing['price']|format_currency }}</p>
                    <p><b>Intermediary Offering Company:</b> {{ filing['company_name'] }}</p>
                    <br>
                {% endfor %}
            {% else %}
                <p>There are no new filings from {{ date }}, check back tomorrow to stay up to date with the latest companies that filed with the SEC as an equity crowdfunding venture.</p>
            {% endif %}

            Have a nice day,
            <br>
            {{ sender }}
        </p>
        {% include "footer.html" %}
    </body>
</html>
